<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying the columns to update the webpage content</h1>
        <form method="POST">
            {% csrf_token %}
            name:  
            <input type="text" name="name" id="name"><br>
            url:   
            <input type="url" name="url" id="url"><br>

            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>