<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Collect Data from user Through Forms</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="topicname">Topic_Name</label>
            <input type="text" name="topic" id="topicname"><br>
            <input type="submit" value="Submit">
        </form>


    </center>
</body>
</html>